<div class="error-box">
    <div class="error-body text-center">
        <h1>IMPORTAR ESTUDIANTES</h1>
        <br>
        <br>
    </div>
</div>


<div class="mb-3">
    <label for="formFile" class="form-label">Seleccione Archivo</label>
    <input class="form-control" type="file" id="formFile" (change)="ReadExcel($event)">
  </div>
<br>


<div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-outline-info" type="button" (click)="importarData()">Importar Estudiantes</button>
</div>


<div class="error-box">
    <div class="error-body text-center">
        <h1>IMPORTAR MATERIAS</h1>
        <br>
        <br>
    </div>
</div>


<div class="mb-3">
    <label for="formFile" class="form-label">Seleccione Archivo</label>
    <input class="form-control" type="file" id="formFile" (change)="ReadExcelMAT($event)">
  </div>
<br>


<div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-outline-info" type="button" (click)="importarMAT()">Importar Materias</button>
</div>
